
<table id ="clubs_table" class="table">
    <tr>
      <th><%=t('dashboard.club_table.club_title')%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
    <% clubs.each do |club| %>
    <tr id="club_<%=club.id%>">
      <td><%= link_to club.title, club%> </td>
      <td></td>
      <td> </td>
      <td><%= link_to t('dashboard.club_table.club_edit'), edit_club_path(club) %></td>
    </tr>
    <% end %>
</table>