

<div id="dashboard_content">
  <div id="clubs">
    <h3><%=t('dashboard.myclubs')%></h3>

    <% if @clubs.size() > 0 %>
    <div id="clubs_table">
      <%= render 'clubs/club_list', :locals => @clubs  %>
    </div>
    <% else %>
      <div id="clubs_table" class="table_no_entry_wrapper">
 
        <div class="table_no_entry"> <%=t('club.club_table.no_entry')%>. <%= link_to t('entity.create_one'), new_member_club_path(@club), :id => 'add_member_link' %></div> 
      </div>
    <% end %>
    
  </div>
  
</div>
