/* 
    Document   : layout
    Created on : Jul 16, 2011, 9:07:52 PM
    Author     : malbert
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/* ***************************************
	RESET BASE STYLES
*************************************** */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

root { 
    display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    color: #444444;
    font : 100%/1.625em "Helvetica Neue", "Helvetica", "Lucida Grande", Verdana,sans-serif;
    /*font : 1.1em/1.444em "Helvetica Neue", "Helvetica", "Lucida Grande", Verdana,sans-serif;*/
    text-align:left;
    margin:0 auto;
    padding:0;
    background-position: center;
    background-image: url(/images/background_pattern.png);
    background-repeat: repeat;
}

body, #commentform textarea, #commentform input, #send, input#searchsubmit {
    /*font: 1.125em/1.444em "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,"Times New Roman",serif;*/
}

/* Abbreviation styling */
abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}


body h1{
    display : block;
    font-weight: bold;
    margin : 0;
    padding-top : 0.5em;
    padding-bottom : 1em;
    font-size: 2.1em;
    line-height: 100%;
    color: #000;
    text-align : left;
    text-shadow: rgba(204,204,204,0.6) 1px 1px 2px;
}

body h2{
    display : block;
    margin : 0.5em 0em 1em 0;
    font-size: 1.4286em;
    font-weight: bold;
    line-height: 100%;
    color: #333333;
    text-shadow: 0px 1px 1px rgba(204,204,204,0.6);
}

body h3{
    display : block;
    margin : 0.5em 0em 1em 0;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 100%;
    color: #333333;
    text-shadow: 0px 1px 1px rgba(204,204,204,0.6) ;
}


#page{
    margin : 36px auto;
    width : 1035px;
    /*background : #fff;*/
    min-heigh : 1000px;
}

img {
     max-width: 100%;
}

a {
    color : #27638C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background : transparent;
    
}

a:visited {
    color : #27638C;
}

ul {
    list-style-type: disc;
    border: medium none;
    list-style: none outside none;
}

ul, ol, dd {
    margin-bottom: 1.5em;
    margin-left: 2em;
}

p {
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

body, div.full-width {
    min-width: 960px;
}

div.full-width {
    width: 100%;
}

.hidden{
    display : none;
}
/*______________________________________________________________________________
*
*                                   SCM Header & user menu
*_______________________________________________________________________________
*/


.scm_header{
    background-position: center top;
    background-image: url(/images/header_background.png);
    background-repeat: no-repeat;
    height: 210px;
    font-weight:  bold;
    padding : 0 47px; /* 17px for tranparent border + 30 px for real padding */
}

.scm_header .logo{
    float : left;
    margin : 1.3em 0em 1em 1em;
    width : 150px;
}

.scm_header .name{
    margin : 1.3em 0em 1em 1em;
    float : left;
    font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande","Geneva","Trebuchet MS","sans-serif";
    
}

.scm_header .name h1{
    margin-top : 0.5em;
    margin-bottom : 0.1em;
    padding-bottom : 0.2em;
    font-size: 170%;
    line-height: 100%;
    color: #27638C;
}

.scm_header .name .slogan{
    font-size: 80%;
    line-height: 100%;
    color: #666666;
    margin-top : 0.2em;
    padding-left: 2.5em;
}

#user_menu{
    margin : 2em 1em 1em 1em;
    float : right;
    font-size : 0.8em;
    line-height : 1em;
    
}

#user_menu ul.menu{
    display: inline-block;
    text-align: center;
}

ul.menu li{
    border-right: 1px solid #D9D9D9;
    display: inline;
    margin: 0;
    padding: 0 0.5em;
    white-space: nowrap;
}

ul.menu li:last-child{
    border-right : 0px none;
}

#user_menu_list{
    position : absolute;
    font-size : 0.8em;
    line-height : 1em;
    margin : 0;
    padding : 0;
    z-index : 1000;
}
#user_menu_list ul.menu{
    display: block;
    text-align: left;
    background : url(../images/usermenu/user_menu_background.png) no-repeat 0 0 transparent;
    width : 208px;
    height : 96px;
    margin : 0 0 4px 0;
    padding : 0;
}

#user_menu_list ul.menu li {
    border: none;
    display: block;
    margin: 0;
    padding: 1px 0.5em 0 1em;
    line-height: 30px;
    white-space: nowrap;
}

#user_menu_list ul.menu li a {
    color : #858587;
}

#user_menu_list ul.menu li a:hover {
    color : #000;
    text-decoration: none;
}

.clear{
    clear: both;
}

#display_user_menu{
    display : block;
    width : 61px;
    height : 42px;
}

#footer{
    background-position: center;
    background-image: url(/images/footer_background.png);
    background-repeat: no-repeat;
    height: 134px;
    padding : 0 17px;
}


/*______________________________________________________________________________
*
*                                   Main Menu
*_______________________________________________________________________________
*/

#main-menu-wrapper{
    position : relative;
    clear: both;
    width : 100%;
    line-height : 110%;
    border-top : 1px solid #d0d0d0;  
    border-bottom : 1px solid #d0d0d0;  
    background-color: #fff;
}

.block {
    float: left;
    width: 100%;
}

#main-menu ul{
    padding: 0;
    margin: 0;
    height : 2.7em;
    
}

#main-menu ul li{
    display: block;
    text-align: center;
    float : left;
    margin: 0;
    padding: 0.85em 0.2em;
    white-space: nowrap;
    min-width: 140px;
    background-color: #fff;
}

#main-menu ul li.selected{
    background-position: center;
    background-image: url(/images/menu_selected_background.png);
    background-repeat: repeat-x;
    color : #FFF;
}

.block-superfish ul.sf-style-default li a:link, 
.block-superfish ul.sf-style-default li a:visited {
    border: none;
    padding: 5px 10px 1px;
    text-decoration: none;
    color : #000;
    font-size: 0.8em;
    text-shadow: rgba(204,204,204,0.6) 1px 1px 2px;
}

.block-superfish ul.sf-style-default li.selected a:link, 
.block-superfish ul.sf-style-default li.selected a:visited {
    color : #fff;
    text-shadow: rgba(0,0,0,0.3) -1px -1px 2px;
}


.block-superfish ul.sf-style-default li a:hover, 
.block-superfish ul.sf-style-default li a:focus, 
.block-superfish ul.sf-style-default li:hover a:link, 
.block-superfish ul.sf-style-default li:hover a:visited, 
.block-superfish ul.sf-style-default li.active-trail a:link, 
.block-superfish ul.sf-style-default li.active-trail a:visited {
    
}

/*______________________________________________________________________________
*
*                                   Main page
*_______________________________________________________________________________
*/

#main{
    background-color: #fff;
    min-height: 800px;
    margin : 0 16px 0px 19px;
    padding: 30px 30px;
}

/*______________________________________________________________________________
*
*                                   Forms
*_______________________________________________________________________________
*/

label {
    font-size: 0.87em;
    font-weight: normal;
    line-height: 1.4em;
    text-shadow: 0 1px 1px #F2F2F2;
    color : #333;
}

input[type="text"], input[type="password"], input[type="email"],input[type="file"],input[type="tel"]  {
    margin: 0 0 10px;
    height: 1.5em;
    padding: 3px 5px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border : 1px solid #D9D9D9;
    border : 1px solid rgba(39,99,140,0.3);
    font-size : 0.84em;
    color : #858587;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 10px);  
}


textarea{
    width : 460px;
    font-family: 1.1em/1.444em "Helvetica Neue", "Helvetica", "Lucida Grande", Verdana,sans-serif;
    margin: 0 0 10px;
    height: 10em;
    padding: 10px 5px;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border : 1px solid #D9D9D9;
    border : 1px solid rgba(39,99,140,0.3);
    font-size : 1em;
    color : #858587;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 10px);  
    
}

input[type="text"]:hover, input[type="text"]:focus,
input[type="password"]:hover, input[type="password"]:focus,
input[type="email"]:hover, input[type="email"]:focus,
input[type="file"]:hover, input[type="file"]:focus,
textarea:hover, textarea:focus{
    border : 1px solid #51b1dd;
    -webkit-box-shadow: rgba(196, 225, 231, 0.75) 0px 0px 10px; 
    -moz-box-shadow: rgba(196, 225, 231, 0.75) 0px 0px 10px; 
    box-shadow: rgba(196, 225, 231, 0.75) 0px 0px 10px; 
}

select:hover, select:focus{
    -webkit-box-shadow: rgba(196, 225, 231, 0.75) 0px 0px 10px; 
    -moz-box-shadow: rgba(196, 225, 231, 0.75) 0px 0px 10px; 
    box-shadow: rgba(196, 225, 231, 0.75) 0px 0px 10px; 
}

.error{
    -webkit-box-shadow: rgba(240, 0, 0, 0.6) 0px 0px 6px;
    -moz-box-shadow: rgba(240, 0, 0, 0.6) 0px 0px 6px;   
    box-shadow: rgba(240, 0, 0, 0.6) 0px 0px 6px;   
}

input[type="submit"]{
    background: url("../images/button/button_normal.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 0 transparent;
    color: #858587;
    font-size: 1em;
    font-weight: bold;
    height: 42px;
    padding: 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.65);
    width: 111px;
    font-size: 0.84em;
    font-weight: normal;
    padding: 0px 20px;
    cursor : pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus{
    background: url("../images/button/button_hover.png") repeat scroll 0 0 transparent;
    color: #414142;
}

input[type="button"]:hover, input[type="button"]:focus {
    background: rgb(155,219,17); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(155,219,17,1) 0%, rgba(108,135,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,219,17,1)), color-stop(100%,rgba(108,135,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(155,219,17,1) 0%,rgba(108,135,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(155,219,17,1) 0%,rgba(108,135,0,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(155,219,17,1) 0%,rgba(108,135,0,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bdb11', endColorstr='#6c8700',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(155,219,17,1) 0%,rgba(108,135,0,1) 100%); /* W3C */
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    color: #FFFFFF;
    cursor: pointer;
}

select {
    font-size : 0.84em;
    color: #666666;
}


.field .field_title, fieldset label{
    float : left;
    min-width : 200px;
    width : 20%;
}

.field .field_content{
    float : left;
}

.field {
    clear : both;
}

form abbr[title="required"]{
    color : red;
    margin-left : 0.3em;
    border: none;
}

.inputs legend {
    border-bottom : 1px solid rgba(39,99,140, 0.3);
    font-size: 1em;
    font-weight: bold;
    line-height: 100%;
    color: #333333;
    text-shadow: 0px 1px 1px rgba(204,204,204,0.6);
    margin: 5px 10px 5px 5px;
    padding: 5px 0 5px 10px;
    width: 98%;
}

#user_form_wrapper .formtastic .stringish input{
    width : 30%;
}

.formtastic li.date .fragments legend{
    background : transparent;
}

select, .formtastic select{
    font-size : 0.78em;
    padding : 2px 10px;
	margin-left : 8px;
}

.input, .formtastic .input{
    margin : 0 0 0 20px;
    padding : 0.1em;
}

fieldset, .formtastic fieldset{
    margin : 0.5em 0.1em 0.5em 0.1em;
    padding : 0.15em 0;
}


.fragments label{
    font-size : 100%;
    margin : 0;
    padding : 0;
}

.fragments .input{
    margin : 0;
    padding : 0;
}

.errorExplanation{
    margin: 1em 2em 1em 0;
    padding : 0;
    border : 1px solid #DB0000;
    width : 50%;
    min-width : 400px;
    line-height: 1em;
    font-size : 0.90em;
    -webkit-box-shadow: 1px 1px 6px rgba(219, 0, 0, 0.7);
    -moz-box-shadow: 1px 1px 6px rgba(219, 0, 0, 0.7);
    box-shadow: 1px 1px 6px rgba(219, 0, 0, 0.7);
    
}

.errorExplanation h2{
    margin : 0;
    padding : 0.3em 0.6em;
    background-color : #DB0000;
    background-color : rgba(216,0,0,1);
    line-height: 1.3em;
    font-size : 1em;
    font-weight: lighter;
    color : #fff;
}

.errorExplanation p{
    line-height: 1.1em;
    font-size : 0.9em;
    font-weight: normal;
    padding : 0.3em 0.6em;
}


.errorExplanation ul{
    line-height: 1.1em;
    font-size : 0.9em;
    font-weight: normal;
    padding : 0.3em 0.6em 0.3em 1.2em;
    list-style-type: disc;
    list-style: disc;
}

.field_with_errors{
    display : inline;
    margin : 0;
    padding : 0;
    background: transparent;
    
}

div.field_with_errors input{
    background: rgba(219,0,0,0.05);
    -webkit-box-shadow: 0px 0px 6px rgba(219, 0, 0, 1);
}

div#member_error{
	margin : 5px 0;
	color : #AA0F0F;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
/*______________________________________________________________________________
*
*                                   Welcome Section
*_______________________________________________________________________________
*/

#welcome-container{
    text-align: center;
}

#welcome-title {
    line-height: 2em;
    vertical-align: center;
}

#welcome-main-title {
    color: #333333;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    font-size: 2.3em;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

/* Login form in modal window */
#boxes #dialog {
    width:600px;
    min-height:270px;
    height:270px;
    background-color:#333;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius : 6px;
    -webkit-transition : all 0.3s ease;
    -moz-transition : all 0.3s ease;
    transition : all 0.3s ease;
}

#boxes .window .modal_content{
    
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 6%, rgba(255,255,255,1) 13%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(6%,rgba(246,246,246,1)), color-stop(13%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 6%,rgba(255,255,255,1) 13%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 6%,rgba(255,255,255,1) 13%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 6%,rgba(255,255,255,1) 13%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(246,246,246,1) 6%,rgba(255,255,255,1) 13%); /* W3C */border-radius : 4px;
    width:100%;
    /*height:100%;
	for chrome compatibility*/
	height : 400px;
    
}
form.member li.fragment label, .dialog_form form li.fragment label .member_birthdate_input label{
	display : none;
}

#boxes .window .form_content {
    clear : both;  
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 5px;
    margin: 0.5em 1em;
    padding: 0.4em 1em;
}

#boxes .window .form_content fieldset {
    margin: 0.2em 0.1em;
    padding: 0;
}

#boxes .window .form_content label {
    display: block;
    float: left;
    padding-top: 0.2em;
    width: 25%;
}

#boxes .window .login_note {
    color: #999999;
    float: right;
    font-size: 0.7em;
    line-height: 90%;
    margin: 1em;
    padding: 1em 0 0;
    text-align: left;
    width: 50%;
}

#boxes #loggin-error{
    color : rgba(219,0,0,0.9);
    font-size : 0.8em;
    font-weight : bold;
    text-align : center;
    text-shadow : none;
}

.modal_footer{
    padding : 0.5em 1em 0.5em 36%;
}

.modal_footer a {
    margin-left : 3em;
    font-size : 0.83em;
}

.modal_footer a.close {
    color : #999;
}

/* Member form in modal window */
#dialog_form_member{
    width:600px;
    min-height:400px;
    height:400px;
    background-color:#333;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius : 6px;
    -webkit-transition : all 0.3s ease;
    -moz-transition : all 0.3s ease;
    transition : all 0.3s ease;
}

#dialog_form_member li,
.dialog_form li {
    list-style-type: none;
}

#member_create,
#grade_create{
    margin : 0 1em;
    padding : 0.2em 0.4em;
}

form.member label,
.dialog_form form label{
    display : block;
    float : left;
    width : 20%;
}

form.member input[type="text"],
form.member input[type="email"],
form.member input[type="tel"],
.dialog_form form input[type="text"] ,
.dialog_form form input[type="email"],
.dialog_form form input[type="tel"]{
    width : 70%;
}

form.member .fragments legend,
.dialog_form form .fragments legend{
    font-size : 0.87em;
    display : block;
    float : left;
    width : 100px;
}

form.member ol.fragments-group,
.dialog_form form ol.fragments-group{
    float : clear;
    margin : 0;
    padding : 0;
}


form.member li.fragment,
.dialog_form form li.fragment{
    display : block;
    float : left;
    margin: 0 1em;
}


form.member li.fragment label,
.dialog_form form li.fragment label{
    width : 0px;
    min-width: 0px;
    display : hidden;
}

form.member li.fragment select,
.dialog_form form li.fragment select {
    display : block;
    float : left;
}

/*______________________________________________________________________________
*
*                                   Modal Window Section
*_______________________________________________________________________________
*/


/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  top: 0;
  z-index:9000;
  background-color:#000;
  opacity : 0.6;
  background-color: rgba(0,0,0, 0.6);
  display:none;
  height : 100%;
  width : 100%;
}

#boxes .window {
  position:absolute;
  width:600px;
  height:200px;
  display:none;
  z-index:9999;
  padding:10px;
}

#boxes .window .title{
    float: left;
    padding: 1em 1em 0.8em;
}

#boxes .window .title h1{
    margin : 0;
    padding : 0;
    font-weight : bold;
}


/* Customize your modal window here, you can add background image too */

/*______________________________________________________________________________
*
*                                   Main page layout Section
*_______________________________________________________________________________
*/

.title {
    float : left;
}

.links {
  float: right;
  font-size: 0.9em;
  margin: 0.8em 1em 0 0;
  text-decoration: underline;
}

.clear{
    clear : both;
}



/*______________________________________________________________________________
*
*                                   Tooltip Section
*_______________________________________________________________________________
*/

#tooltip {
    position: absolute;
    z-index: 9000;
    border: 2px solid #b9e031;
    background-color: #fff;
    width : 250px;
    opacity: 1;
    padding: 0.4em 1em;
    
    -webkit-border-radius: .65em; 
    -moz-border-radius: .65em;
    border-radius: .65em;
    
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,.8);
    box-shadow: 0px 0px 8px rgba(0,0,0,.8);
}

#tooltip h3, #tooltip div { 
    margin: 0; 
}

#tooltip p{
    font: 12px/165% Arial, Helvetica, sans-serif;
    color : #333;
    margin : 0px;
    padding : 0.2em 0;
}

#tooltip h3{
    font: 14px/165% Arial, Helvetica, sans-serif;
    color : #333;
    font-weight : bold;

}

/*______________________________________________________________________________
*
*                                   Account page Section
*_______________________________________________________________________________
*/

#account{
    width : 80%;
    min-width : 500px;
}

#account .header {
    border-bottom: 1px solid #DCDAD4;
    border-radius: 4px 4px 0 0;
    color: #333;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0 0 5px;
    padding: 5px 0;
}

.profile_information {
    font-size: 0.75em;
    line-height: 1.3em;
}

.profile_information .label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    min-width: 150px;
    vertical-align: top;
    width: 35%;
}

.profile_information .label_content {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    vertical-align: top;
    word-wrap: break-word;
}

/*______________________________________________________________________________
*
*                                   Sidebar Section
*_______________________________________________________________________________
*/


.sidebar {
    /*background-color: #E9E9E2;
    border-radius: 8px 8px 8px 8px;*/
    float: left;
    font-size : 0.9em;
    margin : 20px 30px 0 0;
    padding: 20px 10px 20px 0;
    width: 24%;
}

.sidebar .header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 0 0;
    color: #4E751E;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0;
    padding: 0 5px;
}

.sidebar .widget {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 10px 0 0;
    padding: 10px 2px 1px 6px;
    border: 1px solid #DCDAD4;
}

.sidebar .widget:last-child {
    border-radius: 0 0 6px 6px;
}

.main-container {
    float: left;
    width : 65%
}

.sidebar .widget .actions{
    clear: both;
    margin: auto;
    margin-bottom : 1em;
    width: 80%;
}

.sidebar .widget .actions ul{
    margin : 0;
    padding : 0;
}

.sidebar .actions li {
    margin-bottom: 5px;
}

a.button.strong {
    font-size: 1.2em;
    display: block;
}

a.button.strong {
    display: block;
    font-size: 0.9em;
    font-weight: lighter;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 100%;
}
a.button {
    text-decoration: none;
}

a.button {
    background: -moz-linear-gradient(top, rgba(242,242,235,1) 0%, rgba(239,238,232,0.95) 55%, rgba(223,221,215,1) 99%, rgba(223,221,215,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,235,1)), color-stop(55%,rgba(239,238,232,0.95)), color-stop(99%,rgba(223,221,215,1)), color-stop(100%,rgba(223,221,215,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2eb', endColorstr='#dfddd7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* W3C */border: 1px solid #C3C1BF;
    border-radius: 4px 4px 4px 4px;
    color: #1D5F91;
    
}

a.button:hover{
    background: -moz-linear-gradient(top, rgba(233,233,226,1) 0%, rgba(230,230,223,0.95) 55%, rgba(200,199,196,1) 99%, rgba(200,199,196,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,226,1)), color-stop(55%,rgba(230,230,223,0.95)), color-stop(99%,rgba(200,199,196,1)), color-stop(100%,rgba(200,199,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(233,233,226,1) 0%,rgba(230,230,223,0.95) 55%,rgba(200,199,196,1) 99%,rgba(200,199,196,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(233,233,226,1) 0%,rgba(230,230,223,0.95) 55%,rgba(200,199,196,1) 99%,rgba(200,199,196,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(233,233,226,1) 0%,rgba(230,230,223,0.95) 55%,rgba(200,199,196,1) 99%,rgba(200,199,196,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e2', endColorstr='#c8c7c4',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(233,233,226,1) 0%,rgba(230,230,223,0.95) 55%,rgba(200,199,196,1) 99%,rgba(200,199,196,1) 100%); /* W3C */
}


/*______________________________________________________________________________
*
*                                   Club Section
*_______________________________________________________________________________
*/

#club_description_input > div:last-child,
#club_schedule_input > div:last-child,
#club_accessibility_input > div:last-child,
#club_contact_input > div:last-child{
    clear : both;
}

#club_description_input textarea[cols],
#club_schedule_input textarea[cols],
#club_accessibility_input textarea[cols],
#club_contact_input textarea[cols] {
    margin : 0;
    width : 100%;
    max-width: 99.5%;
}


ul.page-tabs{
    margin : 0;
    padding : 2m 0 0.5em 0;
    font-size: 0.95em;
}

.page-tabs li {
    display: inline-block;
    margin-bottom: 1px;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.page-tabs li.selected {
    margin-bottom: 0;
    padding-bottom: 1px;
    background-color: #FFFFFF;
}

.page-tabs .selected a, .page-tabs .selected a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #C3C1BF #C3C1BF -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #453C37;
}

.page-tabs .disabled, .page-tabs .disabled{
    color : #999;
    padding: 5px 10px;
    cursor : pointer;
    border-radius: 4px 4px 0 0;
}


.page-tabs a:hover {
    background-color : #F2F2F2;
}


.page-tabs a {
    text-decoration : none;
}

.page-tabs a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF #FFFFFF -moz-use-text-color;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}

.page-tabs a {
    display: inline-block;
    padding: 5px 10px;
}

.page-tabs-content {
    border-top: 1px solid #C3C1BF;
    padding-top : 1.4em;
}

div#club_description_input,
div#club_schedule_input,
div#club_accessibility_input,
div#club_contact_input{
    margin : 1em 0 0.3em 0;
    text-shadow : none;
}

div#club_description_input label.label,
div#club_schedule_input label.label,
div#club_accessibility_input label.label,
div#club_contact_input label.label {
    width : 100%;
    margin-bottom : 1em;
    padding-bottom : 0.4em;
    border-bottom : 1px solid rgba(39,99,140,0.3);
    display : block;
    font-size : 0.97em;
    
}

.isEditable{
    border-radius : 4px;
    border : 1px solid rgba(39,99,140,0.3);
    min-height : 8em;
    font-size : 0.85em;
    padding : 0.6em 0.4em;
    color: #333333;
    
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    
    cursor: pointer;
    
}

.isEditable ul {
    list-style-type: disc;
    border: medium none;
    list-style: none outside none;

}

.isEditable:hover, .isEditable:focus {  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;    
} 

.hidden{
    display : none;
}

.table {
    border: 1px solid #6699CC;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 0.85em;;
    margin: 1em;
    text-align: left;
    width: 100%;
}

.table th {
    border-bottom: 1px dashed #6699CC;
    color: #003399;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5em 1.4em;
    cursor : pointer;
}

.table td {
    color: #666699;
    padding : 0.5em 1.5em;
    font-size : 0.88em;
}    

.table td a{
    text-decoration : none;
}  

.table tr:first-child:hover{
    font-weight : bold;
    color : #003399;
    background-color : #FFFFFF;
    
}

.table tr:hover{
    font-weight : normal;
    color : #003399;
    background-color : #FBFBFE;
    
}

.table_no_entry_wrapper{
    width : 100%;
    margin : 0;
    padding : 0;
}

.table_no_entry {
    border: 1px dashed #DADADA;
    border-radius: 3px 3px 3px 3px;
    color: #AAAAAA;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 1px auto;
    padding: 14px 25px;
    text-align: center;
    width: 50%;
}

td a.edit_list{
}

td a.remove_list{
    
}

#arts_selection{
	width : 100%;
}

.club_arts_list{
	float : left;
    min-width : 150px;
	width : 30%;
    margin :0.4em 1.4em 1em 0.4em;
}

.club_available_arts_list{
	float : left;
    min-width : 150px;
	width : 30%;
    margin :0.4em 1.4em 1em 0.4em;
}

ul#club_arts_list, ul#club_available_arts_list{
    height: 150px;
    overflow-y: auto;
}

.arrow_drag_drop{
    float: left;
    margin: 0 3em;
    width: 100px;
}


.club_arts_list div.title{
    float : none;
    border-radius : 6px 6px 0 0;
    border: 1px solid #6699CC;
    background: -moz-linear-gradient(top, rgba(39,99,140,1) 0%, rgba(66,109,137,0.95) 55%, rgba(39,99,140,1) 99%, rgba(39,99,140,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,99,140,1)), color-stop(55%,rgba(66,109,137,0.95)), color-stop(99%,rgba(39,99,140,1)), color-stop(100%,rgba(39,99,140,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27638c', endColorstr='#27638c',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* W3C */
    font-size: 0.85em;
    color: #ffffff;
    font-weight : normal;
    text-align: left;
    width: 100%;
    padding :5px 0 5px 5px
}

.club_available_arts_list div.title{
    float : none;
    border-radius : 6px 6px 0 0;
    border: 1px solid #6699CC;
    background: -moz-linear-gradient(top, rgba(39,99,140,1) 0%, rgba(66,109,137,0.95) 55%, rgba(39,99,140,1) 99%, rgba(39,99,140,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,99,140,1)), color-stop(55%,rgba(66,109,137,0.95)), color-stop(99%,rgba(39,99,140,1)), color-stop(100%,rgba(39,99,140,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27638c', endColorstr='#27638c',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(39,99,140,1) 0%,rgba(66,109,137,0.95) 55%,rgba(39,99,140,1) 99%,rgba(39,99,140,1) 100%); /* W3C */
    font-size: 0.85em;
    color: #ffffff;
    font-weight : normal;
    text-align: left;
    width: 100%;
    padding :5px 0 5px 5px
}

.club_arts_list ul, .club_available_arts_list ul{
    margin-left : 0;
    margin : 0;
    padding : 0 3% 0 3%;
    width : 94%;
}


.club_arts_list ul li, .club_available_arts_list ul li{
    clear : both;
    border-bottom: 1px solid #6699CC;
    position : absotlue;
    font-size: 0.75em;
    text-align: left;
    width: 100%;
    height : 25px;
    margin : 0;
    padding :0.4em 0 0.4em 0.4em;
    color: #1D5F91;
    
    background: -moz-linear-gradient(top, rgba(242,242,235,1) 0%, rgba(239,238,232,0.95) 55%, rgba(223,221,215,1) 99%, rgba(223,221,215,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,235,1)), color-stop(55%,rgba(239,238,232,0.95)), color-stop(99%,rgba(223,221,215,1)), color-stop(100%,rgba(223,221,215,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(242,242,235,1) 0%,rgba(239,238,232,0.95) 55%,rgba(223,221,215,1) 99%,rgba(223,221,215,1) 100%); /* IE10+ */
    
}

.club_arts_list ul li:last-child{
    background: -moz-linear-gradient(top, rgba(239,238,232,1) 0%, rgba(247,247,242,0.95) 55%, rgba(239,238,232,1) 99%, rgba(239,238,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,238,232,1)), color-stop(55%,rgba(247,247,242,0.95)), color-stop(99%,rgba(239,238,232,1)), color-stop(100%,rgba(239,238,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(239,238,232,1) 0%,rgba(247,247,242,0.95) 55%,rgba(239,238,232,1) 99%,rgba(239,238,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(239,238,232,1) 0%,rgba(247,247,242,0.95) 55%,rgba(239,238,232,1) 99%,rgba(239,238,232,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(239,238,232,1) 0%,rgba(247,247,242,0.95) 55%,rgba(239,238,232,1) 99%,rgba(239,238,232,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efeee8', endColorstr='#efeee8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(239,238,232,1) 0%,rgba(247,247,242,0.95) 55%,rgba(239,238,232,1) 99%,rgba(239,238,232,1) 100%); /* W3C */
    color : #999;
    
    border: 1px dashed #AADDFF;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    color: #999999;
    line-height: 2em;
    margin-top: 6px;
}

.club_available_arts_list ul li img{
    margin-right : 0.8em;
    margin-left : 0.4em;
}

.title_search{
    float : right;
    margin-right : 1em;
    width : 50%;
}

.club_arts_list ul li.appearing{
    font-weight : bold;
}

.item_list_content{
    position : relative;
    float : left;
}

.item_list_action{
    position : relative;
    float : right;
    top : 0em;
    right : 0.5em;
    width : 35%;
    display : block;
    text-align : right;
}

.item_list_action a img{
    -webkit-transition : -webkit-transform 0.3s ease-in-out;
    -moz-transition : -moz-transform 0.3s ease-in-out;
    -o-transition : -o-transform 0.3s ease-in-out;
    transition : transform 0.3s ease-in-out;
}

.item_list_action a:hover img{
    -webkit-transform : rotate(-90deg);
    -moz-transform : rotate(-90deg);
    -o-transform : rotate(-90deg);
    transform : rotate(-90deg);
}

a.delete{
    font-weight : normal;
    font-size : 0.9em;
    color : #fff;
    background: -moz-linear-gradient(top, rgba(188,20,33,0.41) 0%, rgba(188,20,33,0.69) 28%, rgba(188,20,33,0.76) 44%, rgba(188,20,33,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,20,33,0.41)), color-stop(28%,rgba(188,20,33,0.69)), color-stop(44%,rgba(188,20,33,0.76)), color-stop(100%,rgba(188,20,33,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(188,20,33,0.41) 0%,rgba(188,20,33,0.69) 28%,rgba(188,20,33,0.76) 44%,rgba(188,20,33,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(188,20,33,0.41) 0%,rgba(188,20,33,0.69) 28%,rgba(188,20,33,0.76) 44%,rgba(188,20,33,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(188,20,33,0.41) 0%,rgba(188,20,33,0.69) 28%,rgba(188,20,33,0.76) 44%,rgba(188,20,33,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69bc1421', endColorstr='#bc1421',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(188,20,33,0.41) 0%,rgba(188,20,33,0.69) 28%,rgba(188,20,33,0.76) 44%,rgba(188,20,33,1) 100%); /* W3C */    border-radius : 8px;
    
    -moz-border-radius : 10px;
    -webkit-border-radius : 10px;
    -o-border-radius : 10px;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px; 
    -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px; 
    box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px; 
    width : 100%;
    padding : 0.25em 1em;
}

a.delete:hover{
    text-decoration : none;
    -webkit-box-shadow: none; 
    -moz-box-shadow:  none; 
    box-shadow:  none;  
}

#grades_details{
    clear : both;
}

/*______________________________________________________________________________
*
*                                   Contact us Section
*_______________________________________________________________________________
*/

#contact_us_box {
    width : 80%;
    margin : 10px auto;
}

#contact_us_box fieldset{
    width : 700px;
    margin-top : 10px;
    margin-bottom : 10px;
}

#contact_us_box label{
    width : 10%;
    min-width : 100px;
    text-align: right;
    margin-right : 1em;
    padding-right: 1em;
    line-height: 2em;
}

#contact_us_box input[type="text"]{
    width : 460px;
    margin-top : 0;
    margin-bottom : 0;
}

#contact_us_box input[type="submit"]{
    margin : 20px auto;
    display : block;
}

.contact_us_form_validation{
    width : 25px;
    height : 24px;
    float : right;
    margin-right: 7%;
    padding: 3px 5px;
    
}

.buttons{
    width : 100%;
    position : relative;
}

.buttons ol{
    list-style-type: none;
}

.form_submit{
    display : block;
    margin : 5px auto;
}


/*______________________________________________________________________________
*
*                                   Table Section
*_______________________________________________________________________________
*/

.info_wrapper{
    position:relative;
}

.class_actions{
    position : absolute;
    top: 0px;
    right: 0px;
}

.class_actions a img{
    width : 30px;
    height : 30px;
}

#club_members_pagination {
    position: absolute;
    right: 0;
    text-align: right;
    width: 80%;
}

.pagination {
    font : inherit;
    font-size : 0.7em;
    margin : 2px auto;
    display : block;
}

.pagination span{
    margin : 0 0.4em;
    padding : 0.2em 0.3em 0.2em 0.5em;
    border-radius : 3px;
    background-color : #FAFAFA;
    text-shadow : 0 1px 2px rgba(255,255,255,1);
    box-shadow : 0 1px 2px rgba(50,50,50,0.5);
    text-align : center;
}

/*
.pagination span:hover{
    background-color : #aeaeae;
    color : #e5E5E5;
    text-shadow : 0 -1px -1px rgba(50,50,50,0.5);
    box-shadow : none;
}

.pagination span:hover a, .pagination span a:hover{
    color : #fff;
    text-shadow : 0 -1px -1px rgba(50,50,50,0.5);
}

*/

.pagination span.next, .pagination span.last{
    margin : 0 0.4em;
    padding : 0.2em 0.8em 0.2em 0.4em;
}

.pagination span.prev, .pagination span.first{
    margin : 0 0.4em;
    padding : 0.2em 0.4em 0.2em 0.8em;
}


.pagination span a{
    font-weight : bold;
}

/*______________________________________________________________________________
*
*                                   Member Section
*_______________________________________________________________________________
*/

.member_info_wrapper{
    font-weight: 200;
    width : 49%;
    float : left;
}

.member_info_wrapper span.info_label{
    font-weight: bold;
}

span.info_label{
    width : 20%;
    display: block;
    float : left;
    min-width: 200px;
}

.member_grades_wrapper{
    position : relative;
    font-weight: 200;
    width : 100%;
    clear : both;
    padding-top: 1em;
}

#dialog_form_grade{
    width:600px;
    min-height:450px;
    height:450px;
    background-color:#333;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius : 6px;
    -webkit-transition : all 0.3s ease;
    -moz-transition : all 0.3s ease;
    transition : all 0.3s ease;   
}

#dialog_form_grade form label[name="membergrade[is_actual]"]{
    display : inline;
    float : none;
}

.ajax-loader-wrapper{
    position : absolute;
    top : 12%;
    right : 28%;
}



/*______________________________________________________________________________
*
*                                   Animation Section
*_______________________________________________________________________________
*/

@keyframes insertRow {
  0% {
    background-color: #FDFFDD;
  }
  50% {
    background-color: #FDFFDD;
  }
  100%{
    background-color: #FFFFFF;
  }
}


@-moz-keyframes insertRow{
  0% {
    background-color: #FDFFDD;
  }
  50% {
    background-color: #FDFFDD;
  }
  100%{
    background-color: #FFFFFF;
  }
}



.newly_added{
  animation: insertRow 4s ease-in-out;
  -moz-animation: insertRow 4s ease-in-out;
}